<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868897852943-sa7p0lub6upq9b3rjkrthd5vhdu6gial.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868897852943-sa7p0lub6upq9b3rjkrthd5vhdu6gial</string>
	<key>API_KEY</key>
	<string>AIzaSyD-WI8Ng4Bubdv-nG0cZcSVgLJW-li8qlE</string>
	<key>GCM_SENDER_ID</key>
	<string>868897852943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yesBroker</string>
	<key>PROJECT_ID</key>
	<string>brokr-in</string>
	<key>STORAGE_BUCKET</key>
	<string>brokr-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868897852943:ios:9d3a1c4e480129eb979d7a</string>
</dict>
</plist>